<style>
pre {
    max-width: 695px;
}
</style>
<div class="modal-body">
    <div class="form-area">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>API</td>
                            <td>{{formData.DataJ.API}}</td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>{{formData.URL}}</td>
                        </tr>
                        <tr>
                            <td>Request</td>
                            <td><pre>{{formData.DataJ | json}}</pre></td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td><pre>{{formData.Response | json}}</pre></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
</div>