<style>
pre {
    max-width: 615px;
}
</style>
<div class="modal-body">
    <div class="form-area">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>API</td>
                            <td>{{formData.DataJ.API}}</td>
                        </tr>
                        <tr>
                            <td>URL</td>
                            <td>{{formData.URL}}</td>
                        </tr>
                        <tr>
                            <td class="p1">Request</td>
                            <td><pre id="request">{{formData.DataJ | json}}</pre></td>
                            <td><button class="btn btn-secondary btn-sm copy" id="request-btn" title="Double Click Here To Copy JSON Request Data" ng-click="copyToClipboard('request')">Copy</button></td>
                        </tr>
                        <tr>
                            <td>Response</td>
                            <td><pre id="response">{{formData.Response | json}}</pre></td>
                            <td><button class="btn btn-secondary btn-sm copy" id="response-btn" title="Double Click Here To Copy JSON Response Data" ng-click="copyToClipboard('response')">Copy</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
</div>